<div class="bg-light border-end vh-100 p-3">
  <h5>Menu</h5>

  <hr />

  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="/dashboard" class="nav-link">Dashboard</a>
    </li>

    <li class="nav-item">
      <a routerLink="/country" class="nav-link">Country</a>
    </li>

    <li class="nav-item">
      <a routerLink="/state" class="nav-link">State</a>
    </li>

    <li class="nav-item">
      <a routerLink="/city" class="nav-link">City</a>
    </li>

    <li class="nav-item">
      <a routerLink="/area" class="nav-link">Area</a>
    </li>

    <li class="nav-item">
      <a routerLink="/property-type" class="nav-link">Property Type</a>
    </li>

    <li class="nav-item">
      <a routerLink="/category" class="nav-link">Category</a>
    </li>

    <li class="nav-item">
      <a routerLink="/amenity" class="nav-link">Amenity</a>
    </li>

    <li class="nav-item">
      <a routerLink="/owner" class="nav-link">Owner</a>
    </li>

    <li class="nav-item">
      <a routerLink="/property" class="nav-link">Property</a>
    </li>

    <li class="nav-item">
      <a routerLink="/reports" class="nav-link">Reports</a>
    </li>
  </ul>
</div>
